pre::after{
    content: "\a";
    white-space: pre;
}

article{
    font-size: 20px;
    text-align: justify;
}
article > p{
    margin-bottom: 10px;
    color: rgb(75,85,99) !important;
}
article a {
    border-bottom: 5px solid rgb(139, 148, 228);
}
article img{
    border-radius: 5px !important;
    border-top-right-radius: 5px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
}
article ol{
    list-style-type: circle !important;
    padding-left: 5%;
    padding-bottom: 10px;
    color: rgb(75,85,99) !important;
}
article li::marker {
    color: rgb(255, 75, 75) !important;
    font-weight: bold;
}
article ul{
    list-style-type: circle !important;
    padding-left: 5%;
    padding-bottom: 10px;
    color: rgb(75,85,99) !important;
}

article h1{
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}

article h2{
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}

article h3{
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}


article h4{
    font-weight: bold;
    font-size: 13px;
    margin-top: 20px;
}

article code{
    max-width: 100%;
    overflow-x: scroll;
    border-radius: 5px;
}




blockquote {
    background-color: rgb(243, 243, 243);
    border-left: 5px solid rgb(180, 180, 180) !important;
    padding: 15px;
    font-style: italic;
    margin: 20px !important;
}

table td{
    color: rgb(75,85,99) !important;

}
table{
    margin: 40px;
}
table tr{
    border-bottom: 2px solid rgb(239, 239, 239) !important;
}