<!doctype html>
<html lang="EN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset='UTF-8'>
  <meta name='keywords' content='python, machine learning'>
  <meta name='description' content='Educating programmers about interesting, 
    crucial topics. Articles are intended to break down tough subjects, while 
    being friendly to beginners'>
  <meta name='subject' content='Python / Machine Learning articles'>
  <meta name='copyright' content='pythonkitchen.com'>
  <meta name='language' content='EN'>
  <meta name='robots' content='index,follow'>
  <meta name='revised' content='Wednesday, August 30thth, 2023, 13:30 pm'>
  <meta name='abstract' content=''>
  <meta name='topic' content='python'>
  <meta name='summary' content=''>
  <meta name='Classification' content='Education'>
  <meta name='author' content='PythonKitchen, email@hotmail.com'>
  <meta name='designer' content=''>
  <meta name='reply-to' content='email@hotmail.com'>
  <meta name='owner' content=''>
  <meta name='url' content='https://www.pythonkitchen.com'>
  <meta name='identifier-URL' content='https://www.pythonkitchen.com'>
  <meta name='directory' content='submission'>
  
  
  <meta name='target' content='all'>
  <meta name='HandheldFriendly' content='True'>
  <meta name='MobileOptimized' content='320'>
  <meta name='date' content='2023-07-26 06:13:54'>
  <meta name='DC.title' content='Quality Python articles'>
  <meta name='ResourceLoaderDynamicStyles' content=''>
  <meta name='medium' content='blog'>
  <!-- <meta name='verify-v1' content='dV1r/ZJJdDEI++fKJ6iDEl6o+TMNtSu0kv18ONeqM0I='>
  <meta name='y_key' content='1e39c508e0d87750'> -->
  
  <meta http-equiv='Expires' content='0'>
  <meta http-equiv='Pragma' content='no-cache'>
  <meta http-equiv='Cache-Control' content='no-cache'>
  <meta http-equiv='imagetoolbar' content='no'>
  <meta http-equiv='x-dns-prefetch-control' content='off'>

  
  <meta name='og:type' content='blog'>
  <meta name='og:site_name' content='PythonKitchen'>
  <meta name='og:description' content='Educating programmers about interesting, 
  crucial topics. Articles are intended to break down tough subjects, while 
  being friendly to beginners'>

  <link rel="shortcut icon" href="/assets/logo.png" /> 
  
  <script src="https://cdn.tailwindcss.com"></script>
  <style>

  </style>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4895581427484601" crossorigin="anonymous"></script>
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161612035-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161612035-3');
</script>

<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "ejj5ivpuup");
</script>

  <meta name='An Advanced Flask App: Shopyo' content=''>
  <meta name='category' content='flask'>
  <meta name='coverage' content='Worldwide'>
  <meta name='distribution' content='Global'>
  <meta name='rating' content='General'>
  <meta name='revisit-after' content='1 year'>
  <meta name='subtitle' content='An Advanced Flask App: Shopyo'>
  <meta name='pageKey' content='shopyo-understand-advanced-flask-app'>
  <meta name='og:title' content='An Advanced Flask App: Shopyo'>
  <meta name='og:url' content='https://www.pythonkitchen.com/shopyo-understand-advanced-flask-app'>

  <title>An Advanced Flask App: Shopyo</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/python.min.js"></script>

<link rel="stylesheet" href="/css/post.css"> 


</head>
<body class="bg-gray-50">

<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="/" class="flex items-center">
          <img src="/assets/logo.png" class="h-8 mr-3" alt="PythonKitchen Logo" 
            style="width: 50px !important; height: 50px !important;"/>
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">PythonKitchen</span>
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="/" 
            class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">
            Home</a>
          </li>
          <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdnP_IW4nK95hv-eBDIlxHb5E5DeOniFWBi9YmxlHZARLJDAQ/viewform" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
              Write</a>
          </li>
          <li>
            <a href="https://forms.gle/gf1p1Aitw9M9m8Zy5" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
              Contact</a>
          </li>
          <!-- <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  
  

<div class="p-8">

</div>

<div class="flex flex-row space-x-2">
    <div class="basis-3/4">
        <div class="p-8 pl-12">
            <div class="ml-2">
                <div class=" bg-white rounded-lg shadow-lg" style="padding: 4vw !important;">
                    <p class="text-3xl" style="font-weight: 600;">An Advanced Flask App: Shopyo</p>
                    <br>
                    <div class="flex items-center gap-x-4 text-xs">
                        <time datetime="2020-02-25 03:43:14" class="text-gray-500">February 25, 2020</time>
                        
                        <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">
                            flask
                        </a>
                        
                    </div>
                    
                        <div class="relative mt-8 flex items-center gap-x-4">
                            <img src="https://github.com/Abdur-rahmaanJ.png?size=40" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                            <div class="text-sm leading-6">
                            <p class="font-semibold text-gray-900">
                                <a href='https://www.linkedin.com/in/appinv/'>
                                <span class="absolute inset-0"></span>
                                Abdur-Rahmaan Janhangeer
                                </a>
                            </p>
                            <p class="text-gray-600">Chef</p>
                            </div>
                        </div>
                    
                    <br>
                    <article>
                        <p><img alt="" src="https://raw.githubusercontent.com/Abdur-rahmaanJ/shopyo/master/shopyo.png" />
<a href="https://github.com/Abdur-rahmaanJ/shopyo">Shopyo</a> is an Open Source Flask-based, Python-powered inventory solution and upcoming point of sales. It&rsquo;s aim is to help small business owners get a nice Python-based product with essential amenities for their businesses. An empty Shopyo project at the very least makes a great Flask base. Shopyo also makes use of advanced flask concepts.</p>
<h1>The Tech Stack</h1>
<p><img alt="" src="https://images.unsplash.com/photo-1533630160910-65f5a1718c65?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" /></p>
<p>A peek at Shopyo&rsquo;s requirements.txt gives</p>
<pre><code class="language-python">flask
flask_sqlalchemy
marshmallow_sqlalchemy
flask_marshmallow
flask_migrate
flask_script
flask_login
Flask-WTF
requests

</code></pre>
<ul>
<li>flask_sqlalchemy</li>
</ul>
<p>flask_sqlalchemy is a wrapper around SQLAlchemy, a popular Python ORM. An ORM allows you to define your SQL tables without the need to write SQL codes. You just define models and the table is created for you. A typical model looks like this:</p>
<pre><code class="language-python">class Settings(db.Model):
    __tablename__ = 'settings'
    setting = db.Column(db.String(100), primary_key=True)
    value = db.Column(db.String(100))

</code></pre>
<ul>
<li>flask_migrate</li>
</ul>
<p>flask_migrate is used to migrate your models. If you change your models by adding a new field, the change is not reflected in your database. That&rsquo;s why you need to apply migrations. It is a wrapper around Alembic, a popular migration package.</p>
<ul>
<li>flask_marshmallow</li>
<li>marshmallow_sqlalchemy</li>
</ul>
<p>Marshmallow is a project that allows you to create REST Apis. flask_marshmallow allows the easy integration of marshmallow with Flask and marshmallow_sqlalchemy is a required package that goes along.</p>
<ul>
<li>flask_script</li>
</ul>
<p>Though deprecated by Flask&rsquo;s official command line utitlity, flask_script allows you to create scripts to manage your Flask app easily.</p>
<ul>
<li>flask_login</li>
</ul>
<p>Flask login allows you to add authentication to your app.</p>
<ul>
<li>Flask-WTF</li>
</ul>
<p>A package that allows you to create forms. We use it to prevent CSRF (pronounced sea surf) attacks. It basically ensures that you don&rsquo;t tamper with a webpage then try to send it to someone else expecting it to work</p>
<ul>
<li>requests</li>
</ul>
<p>A package to make web requests and pull in urls easily. You can view a tutorial about it <a href="https://dmerej.info/blog/post/requests-what-you-need-to-build-useful-apps/">here</a>
Terms Explained
===============</p>
<p><img alt="" src="https://images.unsplash.com/photo-1507668077129-56e32842fceb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=334&amp;q=80" />
model</p>
<hr />
<p>A model defines your table</p>
<pre><code class="language-python">class Settings(db.Model):
    __tablename__ = 'settings'
    setting = db.Column(db.String(100), primary_key=True)
    value = db.Column(db.String(100))

</code></pre>
<p>creates a table named settings with fields named setting and value</p>
<h2>template</h2>
<p>A template is an html file with spaces left for values. <code>{%</code> and <code>{{</code> have special meaning. <code>{{1 + 1}}</code> will display 2 when rendered. Similarly <code>{{x + 1}}</code> will evaluate the expression before rendering.</p>
<pre><code class="language-python">{% extends &quot;base/main_base.html&quot; %}

{% set active_page ='settings' %}

{% block pagehead %}
&lt;title&gt;Settings&lt;/title&gt;
&lt;style&gt;
  .hidden{
    display: none;
  }
  .show{
    display: inline-block;
  }
&lt;/style&gt;
{% endblock %}

{% block content %}
&lt;script type=&quot;text/javascript&quot;&gt;
$(function() {

  });
&lt;/script&gt;

&lt;table class=&quot;table&quot;&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th scope=&quot;col&quot;&gt;Settings&lt;/th&gt;
      &lt;th scope=&quot;col&quot;&gt;Value &lt;/th&gt;
      &lt;th scope=&quot;col&quot;&gt;&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
{% for setting in settings %}
    &lt;tr&gt;
      &lt;td&gt;{{setting.setting}}&lt;/td&gt;
      &lt;td&gt;{{setting.value}} &lt;/td&gt;
      &lt;td&gt;&lt;a href=&quot;/settings/edit/{{setting.setting}}&quot; class=&quot;btn btn-info&quot; role=&quot;button&quot;&gt;&lt;i class=&quot;fas fa-pencil-alt&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/td&gt;
    &lt;/tr&gt;
{%endfor%}
  &lt;/tbody&gt;
&lt;/table&gt;

{% endblock %}


</code></pre>
<p>let&rsquo;s take this snippet</p>
<pre><code class="language-python">{% extends &quot;base/main_base.html&quot; %}

</code></pre>
<p>Tells that we are inheriting from <a href="https://github.com/Abdur-rahmaanJ/shopyo/blob/master/shopyo/templates/base/main_base.html">base.html</a></p>
<p>This eases our life by not copying whole <code>&lt;link&gt;</code> or <code>&lt;script&gt;</code> codes for example or not recopying the header/footer</p>
<pre><code class="language-python">{% block pagehead %}
...
{% endblock %}


{% block content %}
...
{% endblock %}

</code></pre>
<p>allows us to define our head and body respectively.</p>
<h1>Views and blueprint</h1>
<p><img alt="" src="https://images.unsplash.com/photo-1565886593760-8e80f074d1f7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=739&amp;q=80" /></p>
<p>A view file has lots of routes and what happens when such a route is found. This is the settings view file for example</p>
<pre><code class="language-python">from flask import (
    Blueprint, render_template, request, redirect, url_for, jsonify
    )

from addon import db
from views.settings.models import Settings
from flask_marshmallow import Marshmallow
from flask_login import login_required, current_user

from project_api import base_context


settings_blueprint = Blueprint('settings', __name__, url_prefix='/settings')

@settings_blueprint.route(&quot;/&quot;)
@login_required
def settings_main():
    context = base_context()

    settings =  Settings.query.all()

    context['settings'] = settings
    return render_template('settings/index.html', **context)

...

</code></pre>
<p>Here is a breaking down:</p>
<pre><code class="language-python">from flask import (
    Blueprint, render_template, request, redirect, jsonify
    )

</code></pre>
<ul>
<li>Blueprint</li>
</ul>
<p>Allows us to create blueprints. More on that further on</p>
<ul>
<li>render_template</li>
</ul>
<p>return render_template(filename) returns the rendered html</p>
<ul>
<li>request</li>
</ul>
<p>refers to the incoming web request by which we can check for GET or POST methods</p>
<ul>
<li>redirect</li>
</ul>
<p>redirects to another url</p>
<ul>
<li>jsonify</li>
</ul>
<p>returns a string or dictionary as JSON response</p>
<pre><code class="language-python">from addon import db

</code></pre>
<p><a href="https://github.com/Abdur-rahmaanJ/shopyo/blob/master/shopyo/addon.py">addon</a> contains the following:</p>
<pre><code class="language-python">from flask_sqlalchemy import SQLAlchemy
from flask_marshmallow import Marshmallow
from flask_login import LoginManager

db = SQLAlchemy()
ma = Marshmallow()
login_manager = LoginManager()

</code></pre>
<pre><code class="language-python">from views.settings.models import Settings

</code></pre>
<p>Tells us to go to views folder -&gt; settings folder -&gt; models file</p>
<pre><code class="language-python">...
from project_api import base_context

</code></pre>
<p><a href="https://github.com/Abdur-rahmaanJ/shopyo/blob/master/shopyo/project_api.py">project_api.py</a> contains base_context which returns just a dictionary</p>
<pre><code class="language-python">def base_context():
    base_context = {
        'APP_NAME': get_setting('APP_NAME'),
        'SECTION_NAME': get_setting('SECTION_NAME'),
        'SECTION_ITEMS': get_setting('SECTION_ITEMS')
    }
    return base_context.copy()

</code></pre>
<p>We copy so as not to let additions be global. Render templates accepts the variables to be rendered as keywords. But those 3 variables are rendered everywhere so, instead of copy paste each time, we just added them beforehand to the dictionary.</p>
<pre><code class="language-python">settings_blueprint = Blueprint('settings', __name__, url_prefix='/settings')

</code></pre>
<p>This tells that whatever urls starts with /settings will be dealt with in this file</p>
<pre><code class="language-python">@settings_blueprint.route(&quot;/abc&quot;)

</code></pre>
<p>is actually for the url <code>/settings/abc</code></p>
<pre><code class="language-python">@settings_blueprint.route(&quot;/&quot;)
@login_required
def settings_main():
    context = base_context()

    settings =  Settings.query.all()

    context['settings'] = settings
    return render_template('settings/index.html', **context)

</code></pre>
<p>Context is just a dictionary</p>
<pre><code class="language-python">context['settings'] = settings

</code></pre>
<p>passes the settings variable which the for loop in the template makes use of</p>
<pre><code class="language-python">{% for setting in settings %}
    &lt;tr&gt;
      &lt;td&gt;{{setting.setting}}&lt;/td&gt;
      &lt;td&gt;{{setting.value}} &lt;/td&gt;
      &lt;td&gt;&lt;a href=&quot;/settings/edit/{{setting.setting}}&quot; class=&quot;btn btn-info&quot; role=&quot;button&quot;&gt;&lt;i class=&quot;fas fa-pencil-alt&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/td&gt;
    &lt;/tr&gt;
{%endfor%}

</code></pre>
<p>By the way,</p>
<pre><code class="language-python">context['settings'] = settings
return render_template('settings/index.html', **context)

</code></pre>
<p>is the same as</p>
<pre><code class="language-python">return render_template('settings/index.html', 
    settings=settings,
    APP_NAME=get_setting('APP_NAME'),
    SECTION_NAME=get_setting('SECTION_NAME'),
    SECTION_ITEMS=get_setting('SECTION_ITEMS'))

</code></pre>
<h1>Register blueprints</h1>
<p><img alt="" src="https://images.unsplash.com/photo-1542621334-a254cf47733d?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" /></p>
<p>in <a href="https://github.com/Abdur-rahmaanJ/shopyo/blob/master/shopyo/app.py">app.py</a> you will see</p>
<pre><code class="language-python">    from views.settings.settings_modif import settings_blueprint

    app.register_blueprint(settings_blueprint)

</code></pre>
<p>which adds the views of the settings folder to the app.</p>
<h1>Configuration management</h1>
<p><img alt="" src="https://images.unsplash.com/photo-1484191914255-a429e6f819b4?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" /></p>
<p>in <a href="https://github.com/Abdur-rahmaanJ/shopyo/blob/master/shopyo/config.py">config.py</a> we see</p>
<pre><code class="language-python">class Config:
    &quot;&quot;&quot;Parent configuration class.&quot;&quot;&quot;
    DEBUG = False
    SQLALCHEMY_DATABASE_URI = 'sqlite:///test.db'
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    SECRET_KEY = 'qow32ijjdkc756osk5dmck'  # Need a generator
    APP_NAME = 'Demo'
    SECTION_NAME = 'Manufacturer'
    SECTION_ITEMS = 'Products'
    HOMEPAGE_URL = '/manufac/'


class DevelopmentConfig(Config):
    &quot;&quot;&quot;Configurations for development&quot;&quot;&quot;
    ENV = 'development'
    DEBUG = True


app_config = {
    'development': DevelopmentConfig,
    'production': Config,
}

</code></pre>
<p>then in <a href="https://github.com/Abdur-rahmaanJ/shopyo/blob/master/shopyo/app.py">app.py</a></p>
<pre><code class="language-python">def create_app(config_name):
    app = Flask(__name__)
    app.config.from_object(app_config[config_name])
    ...


</code></pre>
<p>then further down</p>
<pre><code class="language-python">app = create_app('development')

</code></pre>
<p>so, if we put in &lsquo;production&rsquo; it will load the production configs.</p>
<p>As info, creating apps this way (app = &hellip;) is called the App Factory pattern</p>
<h1>manage.py</h1>
<p><img alt="" src="https://images.unsplash.com/photo-1509541206217-cde45c41aa6d?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=751&amp;q=80" />
<a href="https://github.com/Abdur-rahmaanJ/shopyo/blob/master/shopyo/manage.py">manage.py</a></p>
<pre><code class="language-python">migrate = Migrate(app, db, compare_type=True)
manager = Manager(app)

manager.add_command('db', MigrateCommand)

</code></pre>
<p>allows us to pass in normal Alembic migration commands</p>
<p>normal alembic commands run like:</p>
<pre><code class="language-python">alembic db init
alembic db migrate
alembic db upgrade

</code></pre>
<p>but using the above code, we automatically get</p>
<pre><code class="language-python">python manage.py db init
python manage.py db migrate
python manage.py db upgrate


</code></pre>
<p>similarly this:</p>
<pre><code class="language-python">@manager.command
def runserver():
    app.run()


</code></pre>
<p>allows us to have</p>
<pre><code class="language-python">python manage.py runserver

</code></pre>
<h1>Conclusion</h1>
<p>This was written as part of the Shopyo docs but makes a nice Flask post by the way!</p>
<p>If you did not understand something, please ping me at</p>
<pre><code class="language-python">arj.python at gmail dot com


</code></pre>

                        <script src="https://utteranc.es/client.js"
        repo="pythonkitchen/blog-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
                    </article>
                
                  </div>
                
            </div>
        </div>
        
    </div>
    <div class="basis-1/4">
        <div class="p-8 pl-12">
            <div class="ml-2">
                <div class=" bg-white rounded-lg shadow-lg" style="padding: 4vw !important;">
                    <article>
                        <a href="https://forms.gle/gf1p1Aitw9M9m8Zy5">Put your ads here</a>
                    </div>
                    </article>
                    
            </div>
        </div>

        
    </div>
  </div>




<script>hljs.highlightAll();</script>




</body>
</html>