beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==2.0.12
click==7.1.2
feedparser==6.0.10
Flask==1.1.2
idna==3.4
itsdangerous==2.1.2
jamstack==1.1.0
Jinja2==3.1.2
livereload==2.5.1
lxml==4.9.3
Markdown==3.4.4
markdownify==0.11.6
MarkupSafe==2.1.3
requests==2.26.0
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.4.1
toml==0.10.2
tornado==6.3.3
tqdm==4.62.3
urllib3==1.26.16
Werkzeug==2.3.7
