<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{current_post.title}}</title>
    <meta name="description" content="Author: {{[current_post.authors][0].first_name}}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link async rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link async rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
    <meta charset="utf-8">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": Article",
      "headline": "{{current_post.title}}",
      "image": [],
      "datePublished": "{{current_post.pub}}",
      "dateModified": "{{current_post.pub}}",
      "author": [

    {% for author in current_post.authors %}
      {
          "@type": "Person",
          "name": "{{author.first_name}} {{author.last_name}}",
          "url": "{{author.url}}"
        },
        {% endfor %}
        ]
    }
    </script>
</head>

<body>
    
    <main class="container">
        <h1><a href="/">Python Kitchen</a></h1>
        
        <article>
            <h2>{{ current_post.title }}</h2>
            <hr>
            {{md_to_html(current_post.source) | safe}}

            <ul>
            {% for author in current_post.authors %}
                <li>-- {{author.first_name}} {{author.last_name}}</li>
            {% endfor %}
            </ul>
        </article>
    </main>

    <script src="https://utteranc.es/client.js"
        repo="pythonkitchen/blog-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</body>

</html>


